h2{
    // margin-bottom: 32px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    // margin: 0;
}
span{
    // font-size: 13px;
    margin-left: 3px;
}
.Manager-store{
    position: relative;
    max-width: 1280px;
    margin: 4rem auto;
    min-height: 80rem;
}
.store-container{
    display: flex;
    padding-top: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.store-sidebar{

    width: 25%;
    padding: 0 4rem 2rem 0;
    
}
.store-content{
    width: calc(100% - 230px);
    height: auto;
    // margin-left: 2rem;
}
.content-header{
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    column-gap: 16px;
}
.header-left{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
    flex-basis: 75%;
}
.left-banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.left-img{
    position: absolute;
    z-index: 0;
    object-fit: cover;
}
.left-onImg{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.header-right{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
    flex-basis: 25%;
}
.content-body{
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
    width: 100%;
    transition: all .5s ease;

}
.body-header{
    display: flex;
    justify-content: space-between;
}
.body-header h4{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
}
.filter-status{
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}
.custom-select{
    position: relative;
}
.custom-select::before{
    content: url(../../../assets/images/customer-select.svg);
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    pointer-events: none;
}
.custom-select select {
    cursor: pointer;
    padding: 12px 36px 12px 12px;
    width: 100%;
    font-size: 1,7rem;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    font-weight: 600;
    color: #000;
    appearance: none;
}

.custom-select select option{
    line-height: 2rem;
    cursor: pointer;
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    font-size: 1.8rem;
}

.list-vehicle{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.list-vehicle-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    gap: 20px;
}


//vehicleItem
.vehicle-item{
    width: calc(25% - 15px);
    display: flex;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.item-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 32px;
    gap: 32px;
    border-radius: 12px;
}
.item-img{
    position: relative;
}
.fix-img{
    padding-bottom: 75%;
    border-radius: 10px;
    position: relative;
    max-width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.img-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.label-post{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.rent{
    color: #fff;
    display: flex;
    align-items: center;
    grid-gap: 2px;
    gap: 2px;
    padding: 4px 8px;
    border-radius: 100px;
    background: rgba(12,12,12,.5);
    width: fit-content;
}
.desc-car{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.desc-tag{
    display: flex;
    flex-wrap: wrap;
}
.tag-item-tranmision{
    background: #eef7ff;
    color: #262626;
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
    margin: 0 8px 8px 0;
    width: fit-content;
}
.tag-item-delivery{
    background: #fce0d3;
    color: #262626;
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
    margin: 0 8px 8px 0;
    width: fit-content;
}
.desc-name{
    display: flex;
    align-items: center;
    grid-gap: 4px;
    gap: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}
.desc-nameVehicle{
    color: #000;
    font-size: 16px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc-info{
    display: flex;
    align-items: center;
    color: #767676;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 12px;
}
.start-number{
    line-height: 0;
    user-select: none;
}
.start-rating{
    color: rgb(214, 214, 12);
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.svg-char{
    margin-left: 20px;
    color: rgb(8, 129, 30);
    font-size: 15px;
}
.line{
    margin: auto 0 12px;
    border-bottom: 1px solid #e0e0e0;
}
.address-price{
    display: flex;
    justify-content: space-between;
    color: #767676;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}
.address{
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-gap: 4px;
    gap: 4px;
}
.address-svg{
    line-height: 0;
}
.svg-location{
    color: rgb(68, 68, 65);
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.address-inf{
    margin: 0;
    padding: 0;
    font-size: 13.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: 6px;
}
.price-inf{
    font-size: 16px;
    font-weight: 800;
    margin: 0 4px;
    color: #5fcf86;
}