@import 'normalize.css';


:root {
    --primary : #fe2c55;
    --black: #333;
    --text-color: #161823;
    --white: #fff;
    --font-family: 'RroximaNova', sans-serif;


    --default-layout-header-height :6rem;
    --default-layout-width :100%;
    --default-layout-horizontal-spacer :24px;

}

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

//Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

input, button,[tabindex] {
    outline: none;
    border: none;
}
h1,h2{
    font-weight: 700;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-weight: 700;
    margin: 0;
}


a {
    color: var(--text-color);
    text-decoration: none;
}
p{
    margin: 0;
}

//font embedded
// @font-face {
//     font-family: RroximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//     font-weight: 400;
// }

// @font-face {
//     font-family: RroximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
//     font-weight: 600;
// }

// @font-face {
//     font-family: RroximaNova;
//     src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//     font-weight: 700;
// }
// @font-face {
//     font-family: SofiaPro;
//     src: url('/assets/fonts/sofiapro-bold.woff');
//     font-weight: 700;
// }

//Custom tippy tolltip
body{
     .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84,84,0.92);
     }
     .tippy-arrow {
        color: rgba(84, 84,84,0.92);
     }
     .tippy-content {
        padding: 8px 9px;
     }

     .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
     }
}