
.wrapper {
    padding: 4rem 0 1rem 1rem;
    width: 50%;
    height: 30rem;

}
.profile-content {
    width: 40rem;
    height: 16rem;

}

.profile-img{
    border-radius: 10px;
    width: 40rem;
    height: 16rem;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 36.26%;
    object-fit: cover;
}
h2 {
    font-weight: bold;
}
.profile-action {
    width: 100%;
    height: 5rem;
}