
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
   
  }
  
  .profile-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Thêm thuộc tính display: flex */
    flex-direction: column; /* Thêm thuộc tính flex-direction: column */
    align-items: center; /* Đảm bảo các chữ nằm thẳng hàng theo chiều dọc */
  
  }
  
  .profile-content {
    // text-align: center;
    padding: 20px;
    text-align: center;
  }
  .divider {
    height: 1px;
    width: 80%;
    background-color: #ccc;
    margin: 20px auto;
  }
//   .profile-img {
   
//     width: 30rem;
//     border-radius: 50%;
//     object-fit: cover;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//     transition: transform 0.3s, box-shadow 0.3s;
//   }
.profile-content .profile-img {
    display: inline-block;
    width: 20rem;
    padding: 0;
    border: none;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  h2 {
    margin: 10px 0;
    font-size: 24px;
    text-align: left;
    color: #1c1d1f;
  }
  
  span {
    font-weight: bold;
  }
  
  input[type="radio"] {
    margin: 10px;
  }
  
  input[type="radio"] + label {
    font-size: 16px;
    margin-right: 15px;
    padding: 10px;
    
  }
  
  .profile-action {
    margin-top: 20px;
    text-align: center;
  }
  
  .Button {
    margin-top: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4c9aff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Button:hover {
    background-color: #266bff;
  }







/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
  