
.container{
 display: flex;
//  justify-content: space-between;
padding: 10px;
flex-wrap: wrap;
}
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  width: 400px;
  height: 300px;
  left: 381px;
  top: 224px;
  // overflow: hidden;

}
.hire {
 display: none;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.card:hover .hire {
  display: block;
  transform: translateY(0);
}

.image{
  border-radius: 10px;
  width: 400px;
  height: 220.56px;
  left: 0%;
right: 0%;
top: 0%;
bottom: 36.26%;

}

.card-body{  
  text-align: center;  font-family: 'Montserrat';
/* identical to box height */
letter-spacing: 0.25px;
display: flex;
justify-content: space-around;

}
.vehicleName{
  padding: 10px;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 20px;
background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #00f, rgb(30, 56, 172));
}
.price{
  padding: 5px;
  font-size: large;
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */



