.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-color);
    border-radius: 16px;
    // transition: background-color ease-in-out 200ms;

flex-direction: column;

    &.active {
        color: rgb(62, 56, 56);
        background-color: rgb(235, 235, 235);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }
    &:hover {
        background-color: rgba(22, 24, 35, .03);
    }
}

.title {
    // margin-left: 10px;
    font-size: 15px;
    
}

.icon, .active-icon {
    display: flex;
}

.active-icon {
    display: none;
}