.sidebar-container {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    gap: 4px;
}

.title h4 {
    font-size: 2.5rem;
    font-weight: 700;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    position: relative;
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    cursor: pointer;

    &.active::after {
        content: "";
        position: absolute;
        height: 60%;
        left: 0;
        top: 20%;
        border-left: 4px solid #5fcf86;
    }



}


.wrap-svg {
    line-height: 0;
    user-select: none;
}

.item-icon {
    font-size: 20px;
}

.sidebar-item p {
    font-size: 1.7rem;
    font-weight: 500;
}

.sidebar-item:hover {
    color: green;
}