.store-infomation{
    position: relative;
    max-width: 1280px;
    margin: 4rem auto;
    min-height: 60rem;
}
.store-container{
    display: flex;
    padding-top: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
}

.store-sidebar{

    width: 25%;
    padding: 0 4rem 2rem 0;
    
}
.content-account{
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
    width: calc(70% - 20px);
}
.content-item-user-profile{
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    gap: 24px;
    background: #fff;
    border-radius: 12px;
    padding: 24px 32px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 8px;
    gap: 8px;
}
.title-edit{
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}
.title-edit h5{
    font-size: 2rem;
    font-weight: 700;
}
.swap-svg{
    padding: 6px;
    border-radius: 100%;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    line-height: 0;
    user-select: none;
}
.content{
    display: flex;
    grid-gap: 36px;
    gap: 36px;
}
.avatar-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    width: 25%;
}
.avatar-xl-has-edit{
    cursor: pointer;
    width: 13rem;
    height: 13rem;
    line-height: 13rem;
    position: relative;
    // border: 1px solid #e0e0e0;
    border-radius: 100%;
}
.avatar-xl-has-edit img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.store-name{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}
.note{
    font-size: 1.5rem;
    font-weight: 500;
    color: #666;
    text-align: center;
}
.info-user{
    display: flex;
    flex-direction: column;
    width: 70%;
    grid-gap: 24px;
    gap: 24px;
}
.info-box{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    padding: 16px 24px;
    border-radius: 8px;
    background: #f6f6f6;
}
.info-box-item{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.info-box-item p{
    margin: 0;
    font-size: 1.5rem;
    color: #6f6f6f;
    font-weight: 500;
}
.main{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}
.info-desc{
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
}
.info-desc-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 4px;
    gap: 4px;
}
.title-item{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #6f6f6f;
}
.name{
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}