.img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    margin: auto;
}
.wapper{
    padding: 35px 20px 10px 10px;
}




