.wrapper {
    width: 15%;
    padding: 20px 0 26px 8px;
    // position: fixed;
    // margin-left: -18px;
    
}
.sidebar-container {
    display: flex;
    width: 100%;
    // height: auto;
    position: fixed;
}