.wrapper {
    width: 8%;
    padding: 5.5rem 0 24px 0;
    // position: fixed;
    // margin-left: -18px;

}

.sidebar-container {
    display: flex;
    width: 15%;
    padding: 0 0 0 1rem;
    // height: auto;
    position: fixed;
}
