.wrapper {
    width: 8%;
    padding: 5rem 0 26px 8px;
    // position: fixed;
    // margin-left: -18px;

}

.sidebar-container {
    display: flex;
    width: 15%;
    // height: auto;
    position: fixed;
}
